@using LiveChartsCore.SkiaSharpView.Blazor

<div onwheel="event.preventDefault()">
    <CartesianChart @ref="chart"
                    Title="ChartTitle"
                    Series="chartSeries"
                    XAxes="XAxes"
                    YAxes="YAxes"
                    Sections="Sections"
                    ZoomMode="LiveChartsCore.Measure.ZoomAndPanMode.X"
                    Tooltip="chartTooltip"
                    TooltipFindingStrategy="LiveChartsCore.Measure.TooltipFindingStrategy.CompareAllTakeClosest"
                    LegendPosition="LiveChartsCore.Measure.LegendPosition.Top"
                    Legend="chartLegend">
    </CartesianChart>
</div>

<FluentStack Orientation="Orientation.Horizontal">
    <FluentButton Id="ResetZoom" OnClick="@ResetZoom">
        <FluentIcon Value="@(new Icons.Regular.Size24.ZoomFit())" />
        <FluentTooltip Anchor="ResetZoom">
            Reset zoom
        </FluentTooltip>
    </FluentButton>
    <FluentButton Id="ZoomInOn" OnClick="@ZoomInOn" Disabled="@(selectedSample is null)">
        <FluentIcon Value="@(new Icons.Regular.Size24.ZoomIn())" Color="@Color.Error" />
        <FluentTooltip Anchor="ZoomInOn">
            Zoom in Selected Sample
        </FluentTooltip>
    </FluentButton>
    <FluentButton Id="ZoomOutOn" OnClick="@ZoomOutOn" Disabled="@(selectedSample is null)">
        <FluentIcon Value="@(new Icons.Regular.Size24.ZoomOut())" Color="@Color.Error" />
        <FluentTooltip Anchor="ZoomOutOn">
            Zoom out Selected Sample
        </FluentTooltip>
    </FluentButton>
    <FluentLabel>@TestsetCount</FluentLabel>
    <FluentSlider @bind-Value="TestsetCount" @bind-Value:after="OnTestsetCountChanged" Min="1" Max="4096" Step="1"></FluentSlider>
</FluentStack>
